header
{
	box-sizing: border-box;
	height: var(--header-height);
	padding: 20px;
	background-color: #605ca8;
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
header > div.logo > span.bold
{
	font-weight: 900;
}
header > div.logo > span.light
{
	font-weight: 100;
}
header > div.session 
{
	margin-left: auto;
}
header > div.session > a
{
	color: white;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}
header > div.session > a:hover
{
	text-decoration: underline;
}